header(class="container mx-auto px-4")
	div(class="flex items-center pt-4 pb-10")
		p(class="w-1/3 text-revolver text-xs font-extrabold tracking-wider uppercase lnum") #{moment().format('dddd, MMMM DD [de] YYYY')}
		div(class="w-1/3")
			a(href="/"): img(src="/images/logos/logo.svg", alt="Datasketch", class="h-10 mx-auto")
		div(class="w-1/3 text-revolver flex justify-end text-lg")
			a(class="hover:text-magenta mr-4", href="https://twitter.com/datasketchnews", rel="noopener noreferrer", target="_blank"): i(class="fa fa-twitter")
			a(class="hover:text-magenta mr-4", href="https://es-la.facebook.com/datasketch/", rel="noopener noreferrer", target="_blank"): i(class="fa fa-facebook")
			a(class="hover:text-magenta", href="https://www.instagram.com/datasketch/", rel="noopener noreferrer", target="_blank"): i(class="fa fa-instagram")
	nav
		ul(class="flex justify-between text-revolver text-xs tracking-widest")
			each section in menu
				li(class=`hover:text-magenta${section.href[locale] === locals.section ? ' text-magenta' : ''}`)
					a(class="uppercase", href=`/s/${section.href[locale]}`)= section.label[locale]
			li(class="hover:text-magenta")
				a(class="uppercase", href=`/${locale === 'es' ? 'especiales' : 'specials'}`) #{locale === 'es' ? 'Especiales' : 'Specials'}