extends partials/base
include mixins/ribbon

block css
  link(rel="stylesheet", href="/styles/home.css")

block main
  div(class="w-3/4 mx-auto")
    div(class="flex -mx-8 mb-16")
      div(class="w-7/12 px-8")
        img(src=highlighted.image.secure_url, alt=highlighted.title)
      div(class="w-5/12 self-end px-8")
        +ribbon('Destacado', 'magenta')
        p.text-sm.mt-2 #{capitalize(moment(highlighted.publishedDate).format('MMMM DD, YYYY'))}
        h1(class="font-playfair text-4xl font-bold mb-4 hover:text-magenta")
          a(href=`/p/${highlighted.slug}`) #{highlighted.altTitle ? highlighted.altTitle : highlighted.title}
        .highlighted-brief !{highlighted.content.brief}
    div(class="flex -mx-8 mb-16 h-72")
      each special, index in specials
        div(class=`${index ? 'w-5/12' : 'w-7/12'} px-8`)
          div(class="h-full bg-center bg-no-repeat bg-cover relative", style=`background-image: url(${special.image.secure_url}); background-origin: content-box;`)
            .absolute.inset-0.py-4.px-6.flex.flex-col.justify-center.items-start(style="background-color: rgba(0,0,0,.75)")
              +ribbon('especial', 'white')
              h1(class="font-playfair font-bold text-4xl my-2 text-white hover:text-magenta")
                a(href=special.link, target="_blank", rel="noopener noreferrer") #{special.title}
              .special-brief.text-white !{special.description[locale]}