extends partials/base
include mixins/post_card

block head
	//- Google / Search Engine Tags
	meta(itemprop='name' content=post.seoTitle)
	meta(itemprop='description' content=post.seoDescription)
	meta(itemprop='image' content=post.image.secure_url)
	//- Facebook Meta Tags
	meta(
		property='og:url'
		content=`https://www.datasketch.co/p/${post.slug}`
	)
	meta(property='og:type' content='website')
	meta(property='og:title' content=post.seoTitle)
	meta(property='og:description' content=post.seoDescription)
	meta(property='og:image' content=post.image.secure_url)
	//- Twitter Meta Tags
	meta(name='twitter:card' content='summary_large_image')
	meta(name='twitter:title' content=post.seoTitle)
	meta(name='twitter:description' content=post.seoDescription)
	meta(name='twitter:image' content=post.image.secure_url)

block css
	link(rel="stylesheet", href="/styles/post.css")

block main
	div(class="w-full lg:w-5/6 xl:w-3/4 mx-auto")
		div(class="flex flex-col mb-8 lg:mb-16 lg:flex-row lg:-mx-8")
			div(class="w-full mb-8 lg:w-7/12 lg:px-8 lg:mb-0")
				div(class="h-72 bg-cover bg-no-repeat bg-center lg:h-full", style=`background-image: url(${post.image.secure_url})`)
			div(class="w-full lg:w-5/12 lg:px-8")
				p(class="text-sm mt-2") #{capitalize(moment(post.publishedDate).format('MMMM DD, YYYY'))}
				h1(class="font-playfair text-4xl font-bold mb-4") #{post.altTitle ? post.altTitle : post.title}
				div(class="post-brief") !{post.content.brief}
				if post.authors.length
					- var author = post.authors[0]
					- var name = author.name.first + ' ' + author.name.last
					div(class="flex flex-row items-center mt-6")
						if author.image
							img(class="w-12 h-12 rounded-full object-cover object-center mr-4", src=author.image.secure_url, alt=name)
						p(class="text-xs text-revolver uppercase tracking-wider font-extrabold")= name
		div(class="w-full lg:w-3/5")
			div(class="post-body") !{post.content.extended}
			div(class="flex")
				p(class="uppercase font-extrabold tracking-wider text-2xl text-revolver") compartir
			if post.authors.length
				- var author = post.authors[0]
				- var name = author.name.first + ' ' + author.name.last
				div(class="flex flex-row items-center mt-6 mb-10 bg-alabaster px-8 py-6")
					if author.image
						img(class="w-20 h-20 rounded-full object-cover object-center mr-4", src=author.image.secure_url, alt=name)
					.author-info
						p(class="text-base text-revolver uppercase tracking-widest font-extrabold mb-2")= name
						div(class="italic text-xs text-revolver") !{author[`bioEs`].html}
			if post.relatedPost.length
				div(class="uppercase text-revolver font-extrabold tracking-wider mb-10 pb-1 border-striped")
					h2(class="text-2xl") artículos relacionados
				each related in post.relatedPost
					+post_card(related)