extends partials/base

block head
  //- Google / Search Engine Tags
  meta(itemprop='name' content=post.seoTitle)
  meta(itemprop='description' content=post.seoDescription)
  meta(itemprop='image' content=post.image.secure_url)
  //- Facebook Meta Tags
  meta(
    property='og:url'
    content=`https://www.datasketch.co/p/${post.slug}`
  )
  meta(property='og:type' content='website')
  meta(property='og:title' content=post.seoTitle)
  meta(property='og:description' content=post.seoDescription)
  meta(property='og:image' content=post.image.secure_url)
  //- Twitter Meta Tags
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:title' content=post.seoTitle)
  meta(name='twitter:description' content=post.seoDescription)
  meta(name='twitter:image' content=post.image.secure_url)

block main
  div(class="w-full sm:w-9/12 mx-auto")
    .post-header
      div(class="flex flex-col lg:mx-2 lg:flex-row")
        div(class="pw-full lg:w-6/12 lg:px-2")
          img.w-full.object-contain(src=post.image.secure_url, alt=post.title)
        div(class="mt-4 lg:mt-0 w-full lg:w-6/12 lg:px-2")
          h3(class="text-dark-purple text-xl mb-2 lg:text-2xl border-b-2 border-dark-purple font-bold") #{post.altTitle ? post.altTitle : post.title}
          small.font-xs #{capitalize(moment(post.publishedDate).locale(locale).format('MMMM DD, YYYY'))}
          .post-brief.mt-3.mb-6 !{post.content.brief}
          if post.authors.length
            each author in post.authors
              .flex.flex-row.items-center.mb-1
                if author.image
                  img.w-12.h-12.mr-2.rounded-full(src=author.image.secure_url, alt=author.name)
                small.text-sm #{author.name.first + ' ' + author.name.last}
  div(class="post-body mt-8 w-full sm:w-7/12 mx-auto") !{post.content.extended}    