extends partials/base

block main
  input#tag(type="hidden", name="tag", value=search)
  input#lang(type="hidden", name="lang", value=locale)
  div(class="w-full sm:w-8/12 sm:mx-auto lg:w-7/12")
    section#tagged-posts
      each post in posts
        article(class="post flex flex-col sm:flex-row mb-8 -mx-2")
          div(class="w-full sm:w-3/12 px-2")
            img.post-image.w-full(src=post.image.secure_url, alt=post.title)
          div(class="w-full sm:w-9/12 px-2")
            small.post-date.font-lora.text-xs #{capitalize(moment(post.publishedDate).locale(locale).format('MMMM DD, YYYY'))}
            h2.post-title.mb-3.text-xl
              a.text-dark-purple(href=`/p/${post.slug}`) #{post.altTitle ? post.altTitle : post.title}
            .post-brief !{post.content.brief}
    #target.w-full.border-t

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js")
  script(src="/js/renderer.js")
  script(src="/js/scroller.js")